

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10rem;
}

.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

  
.yldkonteiner {
  background-color: #000000;
  width:1000px;
  margin: auto;
  border: 1px solid grey;
}

.tekstikonteiner  {
 width:900px;
 margin: auto;
}

.videokonteiner{
  display: block;
  width: 500px;
  margin: auto;
}
