body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: black;
  background-image: url("background.png");
  background-attachment: fixed;
  background-size: 1300px 1000px;
  text-align: center;
}

#tiitel {
margin: 0;
height: 50px;
width: 100%;
padding-left: 10px;
text-align: left;
background-color: black;
color: white;
position: fixed;

}

p {
margin: 0;
width: auto;
padding-right: 50px;
padding-left: 50px;
display: flex;
justify-content: center;
background-color: black;
text-align: center;
}

h3 {
margin: 0;
/* padding-top: 50px; */
widht: 1000px;
padding-right: 50px;
padding-left: 50px;
display: flex;
justify-content: center;
background-color: black;
}

img {
margin: 0;
border-radius: 8px;
padding-right: 50px;
padding-left: 50px;
width: 700px;
height: auto;
}

.tab-container {
    text-align: center;
    display: flex;
    justify-content: center;
    height: auto;
}

.tab {
    background-image: linear-gradient(#FEFEFE, #F1F1F1);
    margin: auto;
    overflow: auto;
    border-radius: 3px;
    border-color: #DEDEDE;
    display: flex;
    justify-content: center;
    /* display: inline-block; */
    position: fixed;
}

.tablink {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-family: 'Orbitron', sans-serif;
  font-size: 17px;
  width: 100%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


#Lisa {
width: 100%;
padding: 0;
margin: 0;
left: 0;
bottom: 0;
position: absolute;
color: white;
text-align: left;
background-color: black;
}
#Avaleht {
/* background-color: green;
background-attachment: scroll;
background-repeat: repeat-y; */
}
#Skeemid {background: none;}
#Allikad {background-color: black;}